<nav class="navbar navbar-default my-navi">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Monkey Office</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="jumbotron">
	<center>
	  <h1>Welcome to Monkey Office</h1>
	  <p>Make your life easily</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</center>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/qa.png"  >
      <div class="caption">
        <center><h3>Quality Assurance</h3></center>
        <center><p><a href="#" class="btn btn-primary" role="button">Quality Assurance</a> </p></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/wf.jpg" >
      <div class="caption">
        <center><h3>Workflow</h3></center>
        <center><p><a href="/workflow" class="btn btn-primary" role="button">Workflow</a> </p></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/db.png" >
      <div class="caption">
        <center><h3>Database Management</h3></center>
        <center><p><a href="#" class="btn btn-primary" role="button">Database Management</a> </p></center>
      </div>
    </div>
  </div>
</div>