<br><br><br><br>
<div class="text-center">
	
<table width="900" border = "1" align="center">
	<tr>
		<td width ="30%" height = "50">
			<p> Name </p> 
		</td>
		<td>
			<p>{{workflow.name}}</p>
		</td>
	</tr>
	<tr>
		<td height = "50">
			<p>Description</p> 
		</td>
		<td>
			<div>{{workflow.description}}</div>
		</td>
	</tr>
</table>
<br><br><br><br>
<div><a href="/workflow/{{workflow._id}}/execute" class="btn-sm btn-primary">Execute</a>
</div>